stages:
  - mirror

mirror_from_github:
  stage: mirror
  image: alpine:3.20
  variables:
    GIT_STRATEGY: none
  before_script:
    - apk add --no-cache git
  script:
    - git config --global user.name "Mirror Bot"
    - git config --global user.email "ci-mirror@example.com"
    - git clone --mirror https://$GITHUB_TOKEN@github.com/dedov-mm/netchecknova.git repo.git
    - cd repo.git
    - git push --mirror https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/start4553016/test-sync.git
  rules:
    - if: $CI_PIPELINE_SOURCE == "trigger"
      when: always
